@page "/"
@using R1StatsModel
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@using R1StatsModel.Model
@using R1Stats.Shared.Score_Board

@inject IDbContextFactory<StatsContext> DbFactory

<PageTitle>Index</PageTitle>
@*@foreach (var match in matches)
{
    <div style="width: 50%; height: 525px; float: left;">
        <MatchInfo Match="match"/>
        <ScoreBoard Match="match"/>
    </div>
}
*@

<MudButton Variant="Variant.Filled">Default</MudButton>

@code
{
    public Match[] matches;
    public int matchId = 1;

    protected override async Task OnInitializedAsync()
    {
        await using var c = await DbFactory.CreateDbContextAsync();
        var a = c.Matches.Include(x => x.Players).Include(x => x.Teams).Where(x => x.Id > 0 & x.Id < 10);
        matches = a.ToArray();
    }
}
