.match-details-small {
    width: 90%;
    height: 63px;
    margin: 0 auto;
}

    .match-details-small > div {
        width: 34%;
        float: left;
    }
        .match-details-small > div p:first-of-type {
            float: left;
            padding: 0;
            margin: 0 0 5px 0; /* text-align: right; */
            width: 100px;
        }

        .match-details-small > div p:last-of-type {
            float: left;
            padding: 0;
            margin: 0 0 0 19px;
        }