@using R1StatsModel.Model

<div class="match-details-small">
    <div>
        <p>Variant:</p>
        <p>@(Match?.Variant)</p>
    </div>
    <div>
        <p>Map:</p>
        <p>@(Match?.Map)</p>
    </div>
    <div>
        <p>Start Time:</p>
        <p>@(Match?.StartTime)</p>
    </div>
    <div>
        <p>End Time:</p>
        <p>@(Match?.EndTime)</p>
    </div>
</div>

@code {
    [Parameter] 
    public Match? Match { get; set; }
}
