@using R1StatsModel.Model
@using R1Stats.Shared.Score_Board
@using R1StatsModel.Enum

<div class="scoreboard-container">
    <ul class="nav nav-tabs">
        <li class="nav-item" data-card="team">
            <a class="nav-link active" aria-current="page">Team</a>
        </li>
        <li class="nav-item" data-card="match">
            <a class="nav-link">Match</a>
        </li>
        <li class="nav-item" data-card="kills">
            <a class="nav-link" >Kills</a>
        </li>
        <li class="nav-item" data-card="versus">
            <a class="nav-link">Versus</a>
        </li>
        <li class="nav-item" data-card="weapons">
            <a class="nav-link">Weapons</a>
        </li>
    </ul>
    <div class="scoreboard-tables">
        <TeamStatsCard Match="@Match"/>
        @switch (Match?.GameType)
        {
            case GameType.Slayer:
                <SlayerStatsCard Match="Match"/>
                break;
            case GameType.CTF:
                <CTFStatsCard Match="Match"/>
                break;
            case GameType.Assault:
                <AssaultStatsCard Match="Match"/>
                break;
            case GameType.Territories:
                <TerritoriesStatsCard Match="Match"/>
                break;
            case GameType.Oddball:
                <OddballStatsCard Match="Match"/>
                break;
            case GameType.KOTH:
                <KothStatsCard Match="Match"/>
                break;
            case GameType.Juggernaut:
                <JuggernautStatsCard Match="Match"/>
                break;
        }
        <KillStatsCard Match="@Match"/>
        <WeaponStatsCard Match="@Match"/>
    </div>
</div>
@code {
    [Parameter]
    public Match Match { get; set; }

}
