@using R1StatsModel.Model
@using R1StatsModel.Extensions

<table class="table scoreboard team-stats" data-card="team">
    <thead>
    <tr>
        <th>Team</th>
        <th>Place</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    @if (Match != null)
    {
        @foreach (var matchTeam in Match.Teams.OrderBy(x => x.Place))
        {
            <tr class="@($"team-{matchTeam.Team.GetDisplayName().ToLower()}")">
                <td>@matchTeam.Team</td>
                <td>@matchTeam.Place</td>
                <td>@matchTeam.Score</td>
            </tr>
        }
    }
    </tbody>
</table>


@code {
    [Parameter] 
    public Match? Match { get; set; }
}