@page "/"
@using R1StatsModel.Model
@using Microsoft.EntityFrameworkCore
@using R1StatsModel

@inject IDbContextFactory<StatsContext> DbFactory
<div>
    <MudAlert Severity="Severity.Normal">@matches?.Length</MudAlert>>
</div>
@code
{
    public Match[] matches;
    public int matchId = 1;

    protected override void OnInitialized()
    {
        using var c = DbFactory.CreateDbContext();
        var a = c.Matches.Include(x => x.Players).Include(x => x.Teams).Where(x => x.Id > 0 & x.Id < 10);
        matches = a.ToArray();
    }
    protected override async Task OnInitializedAsync()
    {
        //await using var c = await DbFactory.CreateDbContextAsync();
        //var a = c.Matches.Include(x => x.Players).Include(x => x.Teams).Where(x => x.Id > 0 & x.Id < 10);
        //matches = a.ToArray();
    }
}